.App {
  text-align: center;
  background-image: url(/public/bgfarm.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#bar {
  top: 0;
  z-index: 100;
  position: fixed;
}
.App > .screen {
  width: 80vw;
  min-height: 100vh;
  margin-top: 10%;
  margin-left: 10%;
  background-color: white;
  
}
